# **"Mastering Text Data Handling with Pandas and CSV: A Practical Problem Set using Sensor Logs"**


### Objectives:

* Learn how to read large or delimited datasets in chunks.
* Understand writing data using different formatting options.
* Work with unusual delimiters and `csv` module integration.
* Practice reading, cleaning, analyzing, and saving data.
 

### Why Do This?

Sensor-based logs often come in custom-delimited formats (`|`, `;`, `\t`). These logs may contain missing data, unusual characters, or large records. This challenge will prepare you to:

* Efficiently process real-world datasets
* Handle missing data gracefully
* Convert between different file formats
* Create exportable, clean outputs for reports or storage

### Problem Set (20 Problems)

In [1586]:
import pandas as pd
import numpy as np
import csv

#### **Part A: Reading Text Files in Pieces**

1. **Read the dataset in chunks of 10 rows** using `pd.read_csv(..., chunksize=10)` and print the first chunk.

In [1587]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1588]:
for chunk in chunks:
    print(chunk)

   SensorID     Location  Temperature  Humidity    Status
0      1001   North Wing          NaN      44.9        OK
1      1002  Central Hub          NaN      40.6   Warning
2      1003   South Wing         25.1       NaN       NaN
3      1004    West Wing          NaN      45.6   Warning
4      1005    West Wing         23.4       NaN        OK
5      1006   North Wing          NaN       NaN  Critical
6      1007   North Wing          NaN       NaN        OK
7      1008  Central Hub          NaN       NaN       NaN
8      1009   South Wing         27.0       NaN        OK
9      1010   South Wing          NaN       NaN  Critical
    SensorID     Location  Temperature  Humidity    Status
10      1011   South Wing         23.7       NaN        OK
11      1012  Central Hub          NaN      54.6       NaN
12      1013    West Wing          NaN      53.8  Critical
13      1014   North Wing         22.3       NaN  Critical
14      1015   North Wing          NaN       NaN   Warning
15      1016    West Wing          NaN       NaN   Warning
16      1017   South Wing          NaN       NaN       NaN
17      1018  Central Hub         24.0      59.9       NaN
18      1019    West Wing         20.9      57.2   Warning
19      1020    West Wing          NaN       NaN       NaN
    SensorID     Location  Temperature  Humidity    Status
20      1021    East Wing         29.7      53.6       NaN
21      1022    East Wing          NaN       NaN   Warning
22      1023    West Wing          NaN       NaN       NaN
23      1024   South Wing         25.1       NaN       NaN
24      1025  Central Hub          NaN       NaN       NaN
25      1026   North Wing          NaN       NaN  Critical
26      1027   South Wing          NaN      58.9       NaN
27      1028   North Wing          NaN      55.3       NaN
28      1029  Central Hub          NaN       NaN   Warning
29      1030  Central Hub          NaN       NaN       NaN
    SensorID     Location  Temperature  Humidity    Status
30      1031    East Wing          NaN      49.0   Warning
31      1032   North Wing          NaN       NaN   Warning
32      1033   North Wing          NaN      41.2        OK
33      1034    East Wing         20.7       NaN   Warning
34      1035  Central Hub          NaN      51.5       NaN
35      1036    West Wing         21.9       NaN       NaN
36      1037    West Wing          NaN       NaN        OK
37      1038   North Wing          NaN      56.0   Warning
38      1039   South Wing          NaN      42.8  Critical
39      1040    West Wing         22.5       NaN        OK
    SensorID     Location  Temperature  Humidity    Status
40      1041   North Wing          NaN      56.7   Warning
41      1042   South Wing          NaN       NaN        OK
42      1043   South Wing          NaN       NaN  Critical
43      1044    West Wing          NaN       NaN       NaN
44      1045   South Wing         21.9       NaN       NaN
45      1046   North Wing         27.5       NaN       NaN
46      1047  Central Hub          NaN      41.6        OK
47      1048  Central Hub         20.7       NaN   Warning
48      1049  Central Hub          NaN       NaN       NaN
49      1050  Central Hub          NaN       NaN  Critical

*Create a dictionary out of chunks (optional)*

In [1589]:
# get column names from chunks
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)
first_chunk = next(chunks)

In [1590]:
column_names = first_chunk.columns.to_list()

In [1591]:
column_names

['SensorID', 'Location', 'Temperature', 'Humidity', 'Status']

In [1592]:
data_dict = {}

In [1593]:
for column_name in column_names:
    data_dict[column_name] = []

In [1594]:
data_dict

{'SensorID': [],
 'Location': [],
 'Temperature': [],
 'Humidity': [],
 'Status': []}

In [1595]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1596]:
for chunk in chunks:
    for column_name in data_dict.keys():
        data_dict[column_name].extend(chunk[column_name].to_list())

In [1597]:
for k, v in data_dict.items():
    print(f'\n{k}: {v[:5]}')

SensorID: [1001, 1002, 1003, 1004, 1005]

Location: ['North Wing', 'Central Hub', 'South Wing', 'West Wing', 'West Wing']

Temperature: [nan, nan, 25.1, nan, 23.4]

Humidity: [44.9, 40.6, nan, 45.6, nan]

Status: ['OK', 'Warning', nan, 'Warning', 'OK']

2. **Count how many total rows are in the dataset** by iterating through chunks.

In [1598]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1599]:
total_rows = 0

In [1600]:
for chunk in chunks:
    total_rows += chunk.shape[0]
    print(chunk.shape)

(10, 5)
(10, 5)
(10, 5)
(10, 5)
(10, 5)

In [1601]:
total_rows

50

3. **Calculate the average temperature** in each chunk and collect all chunk averages.

In [1602]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1603]:
total_averages = 0
chunk_count = 0

In [1604]:
print('Mean temperature per chunk:')
for chunk in chunks:
    chunk_count += 1
    temp_mean_per_chunk = chunk.Temperature.mean()
    total_averages += temp_mean_per_chunk
    print(temp_mean_per_chunk)

Mean temperature per chunk:
25.166666666666668
22.725
27.4
21.7
23.366666666666664

In [1605]:
temp_chunk_averages = total_averages / chunk_count

In [1606]:
temp_chunk_averages

np.float64(24.071666666666665)

4. **Filter rows where Humidity is above 50**, across all chunks, and combine into a final DataFrame.

In [1607]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1608]:
humidity_above_50 = []

In [1609]:
for chunk in chunks:
    filtered = chunk[chunk.Humidity > 50]
    humidity_above_50.append(filtered)

In [1610]:
humidity_above_50

[Empty DataFrame
 Columns: [SensorID, Location, Temperature, Humidity, Status]
 Index: [],
     SensorID     Location  Temperature  Humidity    Status
 11      1012  Central Hub          NaN      54.6       NaN
 12      1013    West Wing          NaN      53.8  Critical
 17      1018  Central Hub         24.0      59.9       NaN
 18      1019    West Wing         20.9      57.2   Warning,
     SensorID    Location  Temperature  Humidity Status
 20      1021   East Wing         29.7      53.6    NaN
 26      1027  South Wing          NaN      58.9    NaN
 27      1028  North Wing          NaN      55.3    NaN,
     SensorID     Location  Temperature  Humidity   Status
 34      1035  Central Hub          NaN      51.5      NaN
 37      1038   North Wing          NaN      56.0  Warning,
     SensorID    Location  Temperature  Humidity   Status
 40      1041  North Wing          NaN      56.7  Warning]

In [1611]:
column_names

['SensorID', 'Location', 'Temperature', 'Humidity', 'Status']

In [1612]:
data_dict = {}

In [1613]:
for column_name in column_names:
    data_dict[column_name] = []

In [1614]:
data_dict

{'SensorID': [],
 'Location': [],
 'Temperature': [],
 'Humidity': [],
 'Status': []}

In [1615]:
for row in humidity_above_50:
    for column_name in data_dict.keys():
        data_dict[column_name].extend(row[column_name].to_list())

In [1616]:
df = pd.DataFrame(data=data_dict)

In [1617]:
df

   SensorID     Location  Temperature  Humidity    Status
0      1012  Central Hub          NaN      54.6       NaN
1      1013    West Wing          NaN      53.8  Critical
2      1018  Central Hub         24.0      59.9       NaN
3      1019    West Wing         20.9      57.2   Warning
4      1021    East Wing         29.7      53.6       NaN
5      1027   South Wing          NaN      58.9       NaN
6      1028   North Wing          NaN      55.3       NaN
7      1035  Central Hub          NaN      51.5       NaN
8      1038   North Wing          NaN      56.0   Warning
9      1041   North Wing          NaN      56.7   Warning

In [1618]:
# alternative solution (short)
df = pd.concat(humidity_above_50, ignore_index=True)

In [1619]:
df

   SensorID     Location  Temperature  Humidity    Status
0      1012  Central Hub          NaN      54.6       NaN
1      1013    West Wing          NaN      53.8  Critical
2      1018  Central Hub         24.0      59.9       NaN
3      1019    West Wing         20.9      57.2   Warning
4      1021    East Wing         29.7      53.6       NaN
5      1027   South Wing          NaN      58.9       NaN
6      1028   North Wing          NaN      55.3       NaN
7      1035  Central Hub          NaN      51.5       NaN
8      1038   North Wing          NaN      56.0   Warning
9      1041   North Wing          NaN      56.7   Warning

5. **Find the count of missing `Status` entries** across chunks.

In [1620]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1621]:
status_na_count = 0

In [1622]:
for chunk in chunks:
    status_na_count += chunk.Status.isna().sum()

In [1623]:
status_na_count

np.int64(19)

In [1624]:
# alternative solution
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', chunksize=10)

In [1625]:
status_na = []

In [1626]:
for chunk in chunks:
    filtered = chunk[chunk.Status.isna()]
    status_na.append(filtered)

In [1627]:
df = pd.concat(status_na, ignore_index=True)

In [1628]:
df

    SensorID     Location  Temperature  Humidity Status
0       1003   South Wing         25.1       NaN    NaN
1       1008  Central Hub          NaN       NaN    NaN
2       1012  Central Hub          NaN      54.6    NaN
3       1017   South Wing          NaN       NaN    NaN
4       1018  Central Hub         24.0      59.9    NaN
5       1020    West Wing          NaN       NaN    NaN
6       1021    East Wing         29.7      53.6    NaN
7       1023    West Wing          NaN       NaN    NaN
8       1024   South Wing         25.1       NaN    NaN
9       1025  Central Hub          NaN       NaN    NaN
10      1027   South Wing          NaN      58.9    NaN
11      1028   North Wing          NaN      55.3    NaN
12      1030  Central Hub          NaN       NaN    NaN
13      1035  Central Hub          NaN      51.5    NaN
14      1036    West Wing         21.9       NaN    NaN
15      1044    West Wing          NaN       NaN    NaN
16      1045   South Wing         21.9       NaN    NaN
17      1046   North Wing         27.5       NaN    NaN
18      1049  Central Hub          NaN       NaN    NaN

In [1629]:
df.shape

(19, 5)

6. **Read only specific columns** (`SensorID`, `Temperature`, `Status`) using chunking.

In [1630]:
chunks = pd.read_csv('sensor_data_pipe.txt', sep='|', usecols=['SensorID', 'Temperature', 'Status'], chunksize=10)

In [1631]:
for chunk in chunks:
    print(chunk)

   SensorID  Temperature    Status
0      1001          NaN        OK
1      1002          NaN   Warning
2      1003         25.1       NaN
3      1004          NaN   Warning
4      1005         23.4        OK
5      1006          NaN  Critical
6      1007          NaN        OK
7      1008          NaN       NaN
8      1009         27.0        OK
9      1010          NaN  Critical
    SensorID  Temperature    Status
10      1011         23.7        OK
11      1012          NaN       NaN
12      1013          NaN  Critical
13      1014         22.3  Critical
14      1015          NaN   Warning
15      1016          NaN   Warning
16      1017          NaN       NaN
17      1018         24.0       NaN
18      1019         20.9   Warning
19      1020          NaN       NaN
    SensorID  Temperature    Status
20      1021         29.7       NaN
21      1022          NaN   Warning
22      1023          NaN       NaN
23      1024         25.1       NaN
24      1025          NaN       NaN
25      1026          NaN  Critical
26      1027          NaN       NaN
27      1028          NaN       NaN
28      1029          NaN   Warning
29      1030          NaN       NaN
    SensorID  Temperature    Status
30      1031          NaN   Warning
31      1032          NaN   Warning
32      1033          NaN        OK
33      1034         20.7   Warning
34      1035          NaN       NaN
35      1036         21.9       NaN
36      1037          NaN        OK
37      1038          NaN   Warning
38      1039          NaN  Critical
39      1040         22.5        OK
    SensorID  Temperature    Status
40      1041          NaN   Warning
41      1042          NaN        OK
42      1043          NaN  Critical
43      1044          NaN       NaN
44      1045         21.9       NaN
45      1046         27.5       NaN
46      1047          NaN        OK
47      1048         20.7   Warning
48      1049          NaN       NaN
49      1050          NaN  Critical

#### **Part B: Writing Data to Text Format**

7. **Write the entire dataset into a CSV file using comma delimiter**, replacing NaNs with `'MISSING'`.

In [1632]:
import sys

In [1633]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1634]:
data.to_csv(sys.stdout, sep=',', na_rep='MISSING')

,SensorID,Location,Temperature,Humidity,Status
0,1001,North Wing,MISSING,44.9,OK
1,1002,Central Hub,MISSING,40.6,Warning
2,1003,South Wing,25.1,MISSING,MISSING
3,1004,West Wing,MISSING,45.6,Warning
4,1005,West Wing,23.4,MISSING,OK
5,1006,North Wing,MISSING,MISSING,Critical
6,1007,North Wing,MISSING,MISSING,OK
7,1008,Central Hub,MISSING,MISSING,MISSING
8,1009,South Wing,27.0,MISSING,OK
9,1010,South Wing,MISSING,MISSING,Critical
10,1011,South Wing,23.7,MISSING,OK
11,1012,Central Hub,MISSING,54.6,MISSING
12,1013,West Wing,MISSING,53.8,Critical
13,1014,North Wing,22.3,MISSING,Critical
14,1015,North Wing,MISSING,MISSING,Warning
15,1016,West Wing,MISSING,MISSING,Warning
16,1017,South Wing,MISSING,MISSING,MISSING
17,1018,Central Hub,24.0,59.9,MISSING
18,1019,West Wing,20.9,57.2,Warning
19,1020,West Wing,MISSING,MISSING,MISSING
20,1021,East Wing,29.7,53.6,MISSING
21,1022,East Wing,MISSING,MISSING,Warning
22,1023,West Wing,MISSING,MISSING,MISSING
23,1024,South Wing,25.1,MISSING,MISSING
24,1025,Central Hub,MISSING,MISSING,MISSING
25,1026,North Wing,MISSING,MISSING,Critical
26,1027,South Wing,MISSING,58.9,MISSING
27,1028,North Wing,MISSING,55.3,MISSING
28,1029,Central Hub,MISSING,MISSING,Warning
29,1030,Central Hub,MISSING,MISSING,MISSING
30,1031,East Wing,MISSING,49.0,Warning
31,1032,North Wing,MISSING,MISSING,Warning
32,1033,North Wing,MISSING,41.2,OK
33,1034,East Wing,20.7,MISSING,Warning
34,1035,Central Hub,MISSING,51.5,MISSING
35,1036,West Wing,21.9,MISSING,MISSING
36,1037,West Wing,MISSING,MISSING,OK
37,1038,North Wing,MISSING,56.0,Warning
38,1039,South Wing,MISSING,42.8,Critical
39,1040,West Wing,22.5,MISSING,OK
40,1041,North Wing,MISSING,56.7,Warning
41,1042,South Wing,MISSING,MISSING,OK
42,1043,South Wing,MISSING,MISSING,Critical
43,1044,West Wing,MISSING,MISSING,MISSING
44,1045,South Wing,21.9,MISSING,MISSING
45,1046,North Wing,27.5,MISSING,MISSING
46,1047,Central Hub,MISSING,41.6,OK
47,1048,Central Hub,20.7,MISSING,Warning
48,1049,Central Hub,MISSING,MISSING,MISSING
49,1050,Central Hub,MISSING,MISSING,Critical

In [1635]:
data.to_csv('cleaned_sensor_data.csv', sep=',', na_rep='MISSING', index=False)

8. **Write only sensors from "Central Hub" into a new text file** with `tab` as delimiter.

In [1636]:
mask = data['Location'] == 'Central Hub'

In [1637]:
central_hub_data = data.loc[mask]

In [1638]:
central_hub_data.to_csv('central_hub_filtered.txt', sep='\t', index=False, na_rep='MISSING')

9. **Save only rows with `Status == "Critical"`** into a file with semicolon (`;`) delimiter.

In [1639]:
mask = data['Status'] == 'Critical'

In [1640]:
critical_status = data.loc[mask]

In [1641]:
critical_status.to_csv('critical_status.txt', sep=';', index=False, na_rep='MISSING')

10. **Export the dataset with custom formatting**, setting float precision to 1 decimal place and excluding the index.

In [1642]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1643]:
data.to_csv('sensor_data_formated.csv', sep=',', index=False, na_rep='MISSING', float_format='%.1f')

11. **Convert the dataset to a string buffer using `to_string()`**, then write it to a `.txt` file.

In [1644]:
text_output = data.to_string(na_rep='MISSING', float_format='%.1f')

In [1645]:
with open('sensor_data_string_output.txt', 'w') as text_file:
    text_file.write(text_output)

12. **Write only non-missing values to a new file**, dropping all rows with any NaN or empty value.

In [1646]:
clean_data = data.replace('', pd.NA)

In [1647]:
na_dropped = clean_data.dropna()

In [1648]:
na_dropped.to_csv('na_dropped.txt', sep=',', index=False)

#### **Part C: Working with Other Delimited Formats**

13. **Read the original pipe-delimited file using Pythons `csv.reader()`** and print the rows.

In [1649]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    for row in reader:
        print(row)

['SensorID', 'Location', 'Temperature', 'Humidity', 'Status']
['1001', 'North Wing', '', '44.9', 'OK']
['1002', 'Central Hub', '', '40.6', 'Warning']
['1003', 'South Wing', '25.1', 'nan', '']
['1004', 'West Wing', 'nan', '45.6', 'Warning']
['1005', 'West Wing', '23.4', '', 'OK']
['1006', 'North Wing', '', 'nan', 'Critical']
['1007', 'North Wing', 'nan', '', 'OK']
['1008', 'Central Hub', 'nan', '', '']
['1009', 'South Wing', '27.0', '', 'OK']
['1010', 'South Wing', '', 'nan', 'Critical']
['1011', 'South Wing', '23.7', 'nan', 'OK']
['1012', 'Central Hub', 'nan', '54.6', '']
['1013', 'West Wing', 'nan', '53.8', 'Critical']
['1014', 'North Wing', '22.3', '', 'Critical']
['1015', 'North Wing', 'nan', '', 'Warning']
['1016', 'West Wing', 'nan', '', 'Warning']
['1017', 'South Wing', 'nan', 'nan', '']
['1018', 'Central Hub', '24.0', '59.9', '']
['1019', 'West Wing', '20.9', '57.2', 'Warning']
['1020', 'West Wing', '', '', '']
['1021', 'East Wing', '29.7', '53.6', '']
['1022', 'East Wing', '', '', 'Warning']
['1023', 'West Wing', 'nan', '', '']
['1024', 'South Wing', '25.1', '', '']
['1025', 'Central Hub', '', 'nan', '']
['1026', 'North Wing', '', '', 'Critical']
['1027', 'South Wing', 'nan', '58.9', '']
['1028', 'North Wing', 'nan', '55.3', '']
['1029', 'Central Hub', 'nan', '', 'Warning']
['1030', 'Central Hub', 'nan', '', '']
['1031', 'East Wing', 'nan', '49.0', 'Warning']
['1032', 'North Wing', 'nan', 'nan', 'Warning']
['1033', 'North Wing', 'nan', '41.2', 'OK']
['1034', 'East Wing', '20.7', '', 'Warning']
['1035', 'Central Hub', 'nan', '51.5', '']
['1036', 'West Wing', '21.9', '', '']
['1037', 'West Wing', 'nan', 'nan', 'OK']
['1038', 'North Wing', '', '56.0', 'Warning']
['1039', 'South Wing', '', '42.8', 'Critical']
['1040', 'West Wing', '22.5', 'nan', 'OK']
['1041', 'North Wing', 'nan', '56.7', 'Warning']
['1042', 'South Wing', '', '', 'OK']
['1043', 'South Wing', '', '', 'Critical']
['1044', 'West Wing', 'nan', 'nan', '']
['1045', 'South Wing', '21.9', 'nan', '']
['1046', 'North Wing', '27.5', '', '']
['1047', 'Central Hub', 'nan', '41.6', 'OK']
['1048', 'Central Hub', '20.7', 'nan', 'Warning']
['1049', 'Central Hub', 'nan', 'nan', '']
['1050', 'Central Hub', '', 'nan', 'Critical']

14. **Skip the header and manually convert the result into a pandas DataFrame**.

In [1650]:
data = []
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    header = next(reader)
    for row in reader:
        data.append(row)

In [1651]:
df = pd.DataFrame(data, columns=header)

In [1652]:
df

   SensorID     Location Temperature Humidity    Status
0      1001   North Wing                 44.9        OK
1      1002  Central Hub                 40.6   Warning
2      1003   South Wing        25.1      nan
3      1004    West Wing         nan     45.6   Warning
4      1005    West Wing        23.4                 OK
5      1006   North Wing                  nan  Critical
6      1007   North Wing         nan                 OK
7      1008  Central Hub         nan
8      1009   South Wing        27.0                 OK
9      1010   South Wing                  nan  Critical
10     1011   South Wing        23.7      nan        OK
11     1012  Central Hub         nan     54.6
12     1013    West Wing         nan     53.8  Critical
13     1014   North Wing        22.3           Critical
14     1015   North Wing         nan            Warning
15     1016    West Wing         nan            Warning
16     1017   South Wing         nan      nan
17     1018  Central Hub        24.0     59.9
18     1019    West Wing        20.9     57.2   Warning
19     1020    West Wing
20     1021    East Wing        29.7     53.6
21     1022    East Wing                        Warning
22     1023    West Wing         nan
23     1024   South Wing        25.1
24     1025  Central Hub                  nan
25     1026   North Wing                       Critical
26     1027   South Wing         nan     58.9
27     1028   North Wing         nan     55.3
28     1029  Central Hub         nan            Warning
29     1030  Central Hub         nan
30     1031    East Wing         nan     49.0   Warning
31     1032   North Wing         nan      nan   Warning
32     1033   North Wing         nan     41.2        OK
33     1034    East Wing        20.7            Warning
34     1035  Central Hub         nan     51.5
35     1036    West Wing        21.9
36     1037    West Wing         nan      nan        OK
37     1038   North Wing                 56.0   Warning
38     1039   South Wing                 42.8  Critical
39     1040    West Wing        22.5      nan        OK
40     1041   North Wing         nan     56.7   Warning
41     1042   South Wing                             OK
42     1043   South Wing                       Critical
43     1044    West Wing         nan      nan
44     1045   South Wing        21.9      nan
45     1046   North Wing        27.5
46     1047  Central Hub         nan     41.6        OK
47     1048  Central Hub        20.7      nan   Warning
48     1049  Central Hub         nan      nan
49     1050  Central Hub                  nan  Critical

15. **Create a dictionary using column names as keys and row values as lists**, then convert to DataFrame.

In [1653]:
with open('sensor_data_pipe.txt', newline='') as f:
    lines = list(csv.reader(f, delimiter='|'))
    headers = lines[0]
    header, values = lines[0], lines[1:]

In [1654]:
data = {h: v for h, v in zip(header, zip(*values))}

In [1655]:
df = pd.DataFrame(data, columns=headers)

In [1656]:
df

   SensorID     Location Temperature Humidity    Status
0      1001   North Wing                 44.9        OK
1      1002  Central Hub                 40.6   Warning
2      1003   South Wing        25.1      nan
3      1004    West Wing         nan     45.6   Warning
4      1005    West Wing        23.4                 OK
5      1006   North Wing                  nan  Critical
6      1007   North Wing         nan                 OK
7      1008  Central Hub         nan
8      1009   South Wing        27.0                 OK
9      1010   South Wing                  nan  Critical
10     1011   South Wing        23.7      nan        OK
11     1012  Central Hub         nan     54.6
12     1013    West Wing         nan     53.8  Critical
13     1014   North Wing        22.3           Critical
14     1015   North Wing         nan            Warning
15     1016    West Wing         nan            Warning
16     1017   South Wing         nan      nan
17     1018  Central Hub        24.0     59.9
18     1019    West Wing        20.9     57.2   Warning
19     1020    West Wing
20     1021    East Wing        29.7     53.6
21     1022    East Wing                        Warning
22     1023    West Wing         nan
23     1024   South Wing        25.1
24     1025  Central Hub                  nan
25     1026   North Wing                       Critical
26     1027   South Wing         nan     58.9
27     1028   North Wing         nan     55.3
28     1029  Central Hub         nan            Warning
29     1030  Central Hub         nan
30     1031    East Wing         nan     49.0   Warning
31     1032   North Wing         nan      nan   Warning
32     1033   North Wing         nan     41.2        OK
33     1034    East Wing        20.7            Warning
34     1035  Central Hub         nan     51.5
35     1036    West Wing        21.9
36     1037    West Wing         nan      nan        OK
37     1038   North Wing                 56.0   Warning
38     1039   South Wing                 42.8  Critical
39     1040    West Wing        22.5      nan        OK
40     1041   North Wing         nan     56.7   Warning
41     1042   South Wing                             OK
42     1043   South Wing                       Critical
43     1044    West Wing         nan      nan
44     1045   South Wing        21.9      nan
45     1046   North Wing        27.5
46     1047  Central Hub         nan     41.6        OK
47     1048  Central Hub        20.7      nan   Warning
48     1049  Central Hub         nan      nan
49     1050  Central Hub                  nan  Critical

16. **Register a custom dialect named `'pipe_sensor'`**, and use it to write the dataset again.

In [1657]:
class PipeSensor(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL


csv.register_dialect('pipe_sensor', PipeSensor)

In [1658]:
with open('sensor_data_pipe.txt', 'r') as input_file, open('sensor_data_pipe_output.txt', 'w',
                                                           newline='') as output_file:
    reader = csv.reader(input_file, delimiter='|')
    writer = csv.writer(output_file, dialect='pipe_sensor')
    for row in reader:
        writer.writerow(row)

17. **Re-read the dataset using the `'pipe_sensor'` dialect**, and display the first 5 rows.

In [1659]:
with open('sensor_data_pipe_output.txt', newline='') as f:
    reader = csv.reader(f, dialect='pipe_sensor')
    for i, row in enumerate(reader):
        print(row)
        if i == 4:
            break

['SensorID', 'Location', 'Temperature', 'Humidity', 'Status']
['1001', 'North Wing', '', '44.9', 'OK']
['1002', 'Central Hub', '', '40.6', 'Warning']
['1003', 'South Wing', '25.1', 'nan', '']
['1004', 'West Wing', 'nan', '45.6', 'Warning']

18. **Replace all empty strings with `np.nan` manually** after reading with `csv.reader()`, then load to DataFrame.

In [1660]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    rows = list(reader)

In [1661]:
header, data_rows = rows[0], rows[1:]

In [1662]:
cleaned_rows = [[np.nan if cell == '' else cell for cell in row] for row in data_rows]

In [1663]:
df = pd.DataFrame(cleaned_rows, columns=header)

In [1664]:
df

   SensorID     Location Temperature Humidity    Status
0      1001   North Wing         NaN     44.9        OK
1      1002  Central Hub         NaN     40.6   Warning
2      1003   South Wing        25.1      nan       NaN
3      1004    West Wing         nan     45.6   Warning
4      1005    West Wing        23.4      NaN        OK
5      1006   North Wing         NaN      nan  Critical
6      1007   North Wing         nan      NaN        OK
7      1008  Central Hub         nan      NaN       NaN
8      1009   South Wing        27.0      NaN        OK
9      1010   South Wing         NaN      nan  Critical
10     1011   South Wing        23.7      nan        OK
11     1012  Central Hub         nan     54.6       NaN
12     1013    West Wing         nan     53.8  Critical
13     1014   North Wing        22.3      NaN  Critical
14     1015   North Wing         nan      NaN   Warning
15     1016    West Wing         nan      NaN   Warning
16     1017   South Wing         nan      nan       NaN
17     1018  Central Hub        24.0     59.9       NaN
18     1019    West Wing        20.9     57.2   Warning
19     1020    West Wing         NaN      NaN       NaN
20     1021    East Wing        29.7     53.6       NaN
21     1022    East Wing         NaN      NaN   Warning
22     1023    West Wing         nan      NaN       NaN
23     1024   South Wing        25.1      NaN       NaN
24     1025  Central Hub         NaN      nan       NaN
25     1026   North Wing         NaN      NaN  Critical
26     1027   South Wing         nan     58.9       NaN
27     1028   North Wing         nan     55.3       NaN
28     1029  Central Hub         nan      NaN   Warning
29     1030  Central Hub         nan      NaN       NaN
30     1031    East Wing         nan     49.0   Warning
31     1032   North Wing         nan      nan   Warning
32     1033   North Wing         nan     41.2        OK
33     1034    East Wing        20.7      NaN   Warning
34     1035  Central Hub         nan     51.5       NaN
35     1036    West Wing        21.9      NaN       NaN
36     1037    West Wing         nan      nan        OK
37     1038   North Wing         NaN     56.0   Warning
38     1039   South Wing         NaN     42.8  Critical
39     1040    West Wing        22.5      nan        OK
40     1041   North Wing         nan     56.7   Warning
41     1042   South Wing         NaN      NaN        OK
42     1043   South Wing         NaN      NaN  Critical
43     1044    West Wing         nan      nan       NaN
44     1045   South Wing        21.9      nan       NaN
45     1046   North Wing        27.5      NaN       NaN
46     1047  Central Hub         nan     41.6        OK
47     1048  Central Hub        20.7      nan   Warning
48     1049  Central Hub         nan      nan       NaN
49     1050  Central Hub         NaN      nan  Critical

#### **Part D: Additional Real-World Tasks**

19. **Clean the dataset** by filling missing temperature and humidity with their respective means.

In [1665]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1666]:
temperature_mean = data.Temperature.mean(skipna=True)

In [1667]:
temperature_mean

np.float64(23.759999999999998)

In [1668]:
humidity_mean = data.Humidity.mean(skipna=True)

In [1669]:
humidity_mean

np.float64(50.7764705882353)

In [1670]:
data.Temperature = data.Temperature.fillna(temperature_mean)

In [1671]:
data.Humidity = data.Humidity.fillna(humidity_mean)

In [1672]:
data.head()

   SensorID     Location  Temperature   Humidity   Status
0      1001   North Wing        23.76  44.900000       OK
1      1002  Central Hub        23.76  40.600000  Warning
2      1003   South Wing        25.10  50.776471      NaN
3      1004    West Wing        23.76  45.600000  Warning
4      1005    West Wing        23.40  50.776471       OK

In [1673]:
data.to_csv('sensor_data_filled.csv', sep=',', index=False, float_format='%.1f')

20. **Summarize the cleaned data**: Group by `Location` and count how many sensors have `Status == OK`.

In [1674]:
OK_data = data[data.Status == 'OK']

In [1675]:
OK_data

    SensorID     Location  Temperature   Humidity Status
0       1001   North Wing        23.76  44.900000     OK
4       1005    West Wing        23.40  50.776471     OK
6       1007   North Wing        23.76  50.776471     OK
8       1009   South Wing        27.00  50.776471     OK
10      1011   South Wing        23.70  50.776471     OK
32      1033   North Wing        23.76  41.200000     OK
36      1037    West Wing        23.76  50.776471     OK
39      1040    West Wing        22.50  50.776471     OK
41      1042   South Wing        23.76  50.776471     OK
46      1047  Central Hub        23.76  41.600000     OK

In [1676]:
ok_counts = OK_data.groupby('Location').size()

In [1677]:
ok_counts

Location
Central Hub    1
North Wing     3
South Wing     3
West Wing      3
dtype: int64

## **Part C  Reading and Preprocessing with `csv.reader()`**

### 1. **Read the pipe-delimited file using `csv.reader()` and skip rows that are completely empty.**

> Goal: Manually build a clean list of rows (no blank lines), then convert to a DataFrame.

In [1678]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    rows = list(reader)

In [1679]:
header, data_rows = rows[0], rows[1:]

In [1680]:
cleaned_rows = [[np.nan if cell == '' else cell for cell in row] for row in data_rows]

In [1681]:
df = pd.DataFrame(cleaned_rows, columns=header)

In [1682]:
df.head()

  SensorID     Location Temperature Humidity   Status
0     1001   North Wing         NaN     44.9       OK
1     1002  Central Hub         NaN     40.6  Warning
2     1003   South Wing        25.1      nan      NaN
3     1004    West Wing         nan     45.6  Warning
4     1005    West Wing        23.4      NaN       OK

In [1683]:
# if file includes completely empty rows
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    # rows = [row for row in reader if any(cell.strip() for cell in row)]
    rows = []
    for row in reader:
        has_data = False
        for cell in row:
            if cell.strip():  # if not just spaces or empty
                has_data = True
                break
        if has_data:
            rows.append(row)

In [1684]:
cleaned_rows = [[np.nan if cell == '' else cell for cell in row] for row in cleaned_rows]

In [1685]:
df = pd.DataFrame(cleaned_rows, columns=header)

In [1686]:
df.head()

  SensorID     Location Temperature Humidity   Status
0     1001   North Wing         NaN     44.9       OK
1     1002  Central Hub         NaN     40.6  Warning
2     1003   South Wing        25.1      nan      NaN
3     1004    West Wing         nan     45.6  Warning
4     1005    West Wing        23.4      NaN       OK

### 2. **Convert the dataset into a dictionary where each key is the column name and values are lists, but skip any row with missing values.**

> Goal: Practice row validation before DataFrame construction.

In [1687]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    rows = list(reader)

In [1688]:
cleaned_rows = []
for row in rows:
    has_data = False
    for cell in row:
        if cell.strip(): 
            has_data = True
            break
    if has_data:
        cleaned_rows.append(row)

In [1689]:
columns = cleaned_rows[0]

In [1690]:
columns

['SensorID', 'Location', 'Temperature', 'Humidity', 'Status']

In [1691]:
data_rows = cleaned_rows[1:]

In [1692]:
data_rows[:5]

[['1001', 'North Wing', '', '44.9', 'OK'],
 ['1002', 'Central Hub', '', '40.6', 'Warning'],
 ['1003', 'South Wing', '25.1', 'nan', ''],
 ['1004', 'West Wing', 'nan', '45.6', 'Warning'],
 ['1005', 'West Wing', '23.4', '', 'OK']]

In [1693]:
cleaned_dict = {}

In [1694]:
for column in columns:
    cleaned_dict[column] = []

In [1695]:
for row in data_rows:
    for i, column in enumerate(columns):
        cleaned_dict[column].append(row[i])

In [1696]:
cleaned_dict

{'SensorID': ['1001',
  '1002',
  '1003',
  '1004',
  '1005',
  '1006',
  '1007',
  '1008',
  '1009',
  '1010',
  '1011',
  '1012',
  '1013',
  '1014',
  '1015',
  '1016',
  '1017',
  '1018',
  '1019',
  '1020',
  '1021',
  '1022',
  '1023',
  '1024',
  '1025',
  '1026',
  '1027',
  '1028',
  '1029',
  '1030',
  '1031',
  '1032',
  '1033',
  '1034',
  '1035',
  '1036',
  '1037',
  '1038',
  '1039',
  '1040',
  '1041',
  '1042',
  '1043',
  '1044',
  '1045',
  '1046',
  '1047',
  '1048',
  '1049',
  '1050'],
 'Location': ['North Wing',
  'Central Hub',
  'South Wing',
  'West Wing',
  'West Wing',
  'North Wing',
  'North Wing',
  'Central Hub',
  'South Wing',
  'South Wing',
  'South Wing',
  'Central Hub',
  'West Wing',
  'North Wing',
  'North Wing',
  'West Wing',
  'South Wing',
  'Central Hub',
  'West Wing',
  'West Wing',
  'East Wing',
  'East Wing',
  'West Wing',
  'South Wing',
  'Central Hub',
  'North Wing',
  'South Wing',
  'North Wing',
  'Central Hub',
  'Central Hub',
  'East Wing',
  'North Wing',
  'North Wing',
  'East Wing',
  'Central Hub',
  'West Wing',
  'West Wing',
  'North Wing',
  'South Wing',
  'West Wing',
  'North Wing',
  'South Wing',
  'South Wing',
  'West Wing',
  'South Wing',
  'North Wing',
  'Central Hub',
  'Central Hub',
  'Central Hub',
  'Central Hub'],
 'Temperature': ['',
  '',
  '25.1',
  'nan',
  '23.4',
  '',
  'nan',
  'nan',
  '27.0',
  '',
  '23.7',
  'nan',
  'nan',
  '22.3',
  'nan',
  'nan',
  'nan',
  '24.0',
  '20.9',
  '',
  '29.7',
  '',
  'nan',
  '25.1',
  '',
  '',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  '20.7',
  'nan',
  '21.9',
  'nan',
  '',
  '',
  '22.5',
  'nan',
  '',
  '',
  'nan',
  '21.9',
  '27.5',
  'nan',
  '20.7',
  'nan',
  ''],
 'Humidity': ['44.9',
  '40.6',
  'nan',
  '45.6',
  '',
  'nan',
  '',
  '',
  '',
  'nan',
  'nan',
  '54.6',
  '53.8',
  '',
  '',
  '',
  'nan',
  '59.9',
  '57.2',
  '',
  '53.6',
  '',
  '',
  '',
  'nan',
  '',
  '58.9',
  '55.3',
  '',
  '',
  '49.0',
  'nan',
  '41.2',
  '',
  '51.5',
  '',
  'nan',
  '56.0',
  '42.8',
  'nan',
  '56.7',
  '',
  '',
  'nan',
  'nan',
  '',
  '41.6',
  'nan',
  'nan',
  'nan'],
 'Status': ['OK',
  'Warning',
  '',
  'Warning',
  'OK',
  'Critical',
  'OK',
  '',
  'OK',
  'Critical',
  'OK',
  '',
  'Critical',
  'Critical',
  'Warning',
  'Warning',
  '',
  '',
  'Warning',
  '',
  '',
  'Warning',
  '',
  '',
  '',
  'Critical',
  '',
  '',
  'Warning',
  '',
  'Warning',
  'Warning',
  'OK',
  'Warning',
  '',
  '',
  'OK',
  'Warning',
  'Critical',
  'OK',
  'Warning',
  'OK',
  'Critical',
  '',
  '',
  '',
  'OK',
  'Warning',
  '',
  'Critical']}

In [1697]:
df = pd.DataFrame(cleaned_dict, columns=columns)

In [1698]:
df.head()

  SensorID     Location Temperature Humidity   Status
0     1001   North Wing                 44.9       OK
1     1002  Central Hub                 40.6  Warning
2     1003   South Wing        25.1      nan
3     1004    West Wing         nan     45.6  Warning
4     1005    West Wing        23.4                OK

### 3. **Count how many rows have empty strings in *any* of the first three columns using `csv.reader()`.**

> Hint: Use conditional checks per row.

In [1699]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    rows = list(reader)

In [1700]:
data_rows = rows[1:]

In [1701]:
empty_count = 0

In [1702]:
for row in data_rows:
    if len(row) >= 3:
        if row[0].strip() == '' or row[1].strip() == '' or row[2].strip() == '':
            empty_count += 1

In [1703]:
empty_count

13

### 4. **Read the data with `csv.reader()` and convert numeric fields to floats, using `np.nan` for invalid conversions.**

> Goal: Manual type cleaning and conversion.

In [1704]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    rows = list(reader)

In [1705]:
cleaned_rows = []
for row in rows:
    has_data = False
    for cell in row:
        if cell.strip(): 
            has_data = True
    if has_data:
        cleaned_rows.append(row)

In [1706]:
data_rows = cleaned_rows[1:]
data_rows[:5]

[['1001', 'North Wing', '', '44.9', 'OK'],
 ['1002', 'Central Hub', '', '40.6', 'Warning'],
 ['1003', 'South Wing', '25.1', 'nan', ''],
 ['1004', 'West Wing', 'nan', '45.6', 'Warning'],
 ['1005', 'West Wing', '23.4', '', 'OK']]

In [1707]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1708]:
df = pd.DataFrame(data, columns=columns)

In [1709]:
df.head()

   SensorID     Location  Temperature  Humidity   Status
0      1001   North Wing          NaN      44.9       OK
1      1002  Central Hub          NaN      40.6  Warning
2      1003   South Wing         25.1       NaN      NaN
3      1004    West Wing          NaN      45.6  Warning
4      1005    West Wing         23.4       NaN       OK

In [1710]:
numeric_columns = df.select_dtypes(include=[np.number]).columns.difference(['SensorID']).to_list()

In [1711]:
numeric_columns

['Humidity', 'Temperature']

In [1712]:
numeric_indices = []
for column in numeric_columns:
    numeric_indices.append(header.index(column))

In [1713]:
numeric_indices

[3, 2]

In [1714]:
converted_rows = []
for row in data_rows:
    cleaned_row = []
    for i, cell in enumerate(row):
        if i in numeric_indices:
            try:
                cleaned_row.append(float(cell))
            except ValueError:
                cleaned_row.append(np.nan)
        else:
            cleaned_row.append(cell.strip() if cell.strip() else np.nan)
    converted_rows.append(cleaned_row)

In [1715]:
df_cleaned_rows = pd.DataFrame(converted_rows, columns=columns)

In [1716]:
df_cleaned_rows

   SensorID     Location  Temperature  Humidity    Status
0      1001   North Wing          NaN      44.9        OK
1      1002  Central Hub          NaN      40.6   Warning
2      1003   South Wing         25.1       NaN       NaN
3      1004    West Wing          NaN      45.6   Warning
4      1005    West Wing         23.4       NaN        OK
5      1006   North Wing          NaN       NaN  Critical
6      1007   North Wing          NaN       NaN        OK
7      1008  Central Hub          NaN       NaN       NaN
8      1009   South Wing         27.0       NaN        OK
9      1010   South Wing          NaN       NaN  Critical
10     1011   South Wing         23.7       NaN        OK
11     1012  Central Hub          NaN      54.6       NaN
12     1013    West Wing          NaN      53.8  Critical
13     1014   North Wing         22.3       NaN  Critical
14     1015   North Wing          NaN       NaN   Warning
15     1016    West Wing          NaN       NaN   Warning
16     1017   South Wing          NaN       NaN       NaN
17     1018  Central Hub         24.0      59.9       NaN
18     1019    West Wing         20.9      57.2   Warning
19     1020    West Wing          NaN       NaN       NaN
20     1021    East Wing         29.7      53.6       NaN
21     1022    East Wing          NaN       NaN   Warning
22     1023    West Wing          NaN       NaN       NaN
23     1024   South Wing         25.1       NaN       NaN
24     1025  Central Hub          NaN       NaN       NaN
25     1026   North Wing          NaN       NaN  Critical
26     1027   South Wing          NaN      58.9       NaN
27     1028   North Wing          NaN      55.3       NaN
28     1029  Central Hub          NaN       NaN   Warning
29     1030  Central Hub          NaN       NaN       NaN
30     1031    East Wing          NaN      49.0   Warning
31     1032   North Wing          NaN       NaN   Warning
32     1033   North Wing          NaN      41.2        OK
33     1034    East Wing         20.7       NaN   Warning
34     1035  Central Hub          NaN      51.5       NaN
35     1036    West Wing         21.9       NaN       NaN
36     1037    West Wing          NaN       NaN        OK
37     1038   North Wing          NaN      56.0   Warning
38     1039   South Wing          NaN      42.8  Critical
39     1040    West Wing         22.5       NaN        OK
40     1041   North Wing          NaN      56.7   Warning
41     1042   South Wing          NaN       NaN        OK
42     1043   South Wing          NaN       NaN  Critical
43     1044    West Wing          NaN       NaN       NaN
44     1045   South Wing         21.9       NaN       NaN
45     1046   North Wing         27.5       NaN       NaN
46     1047  Central Hub          NaN      41.6        OK
47     1048  Central Hub         20.7       NaN   Warning
48     1049  Central Hub          NaN       NaN       NaN
49     1050  Central Hub          NaN       NaN  Critical

### 5. **Build a dictionary using `csv.reader()` but remove leading and trailing spaces in all cells before storage.**

> Goal: Practice using `str.strip()` during parsing.

In [1717]:
with open('sensor_data_pipe.txt', newline='') as f:
    reader = csv.reader(f, delimiter='|')
    rows = list(reader)

In [1718]:
data_rows = rows[1:]

In [1721]:
cleaned_rows = []
for row in data_rows:
    cleaned_row = []
    for cell in row:
        cleaned_row.append(cell.strip() if cell.strip() else np.nan)
    cleaned_rows.append(cleaned_row)

In [1722]:
df = pd.DataFrame(cleaned_rows, columns=columns)

In [1723]:
df

   SensorID     Location Temperature Humidity    Status
0      1001   North Wing         NaN     44.9        OK
1      1002  Central Hub         NaN     40.6   Warning
2      1003   South Wing        25.1      nan       NaN
3      1004    West Wing         nan     45.6   Warning
4      1005    West Wing        23.4      NaN        OK
5      1006   North Wing         NaN      nan  Critical
6      1007   North Wing         nan      NaN        OK
7      1008  Central Hub         nan      NaN       NaN
8      1009   South Wing        27.0      NaN        OK
9      1010   South Wing         NaN      nan  Critical
10     1011   South Wing        23.7      nan        OK
11     1012  Central Hub         nan     54.6       NaN
12     1013    West Wing         nan     53.8  Critical
13     1014   North Wing        22.3      NaN  Critical
14     1015   North Wing         nan      NaN   Warning
15     1016    West Wing         nan      NaN   Warning
16     1017   South Wing         nan      nan       NaN
17     1018  Central Hub        24.0     59.9       NaN
18     1019    West Wing        20.9     57.2   Warning
19     1020    West Wing         NaN      NaN       NaN
20     1021    East Wing        29.7     53.6       NaN
21     1022    East Wing         NaN      NaN   Warning
22     1023    West Wing         nan      NaN       NaN
23     1024   South Wing        25.1      NaN       NaN
24     1025  Central Hub         NaN      nan       NaN
25     1026   North Wing         NaN      NaN  Critical
26     1027   South Wing         nan     58.9       NaN
27     1028   North Wing         nan     55.3       NaN
28     1029  Central Hub         nan      NaN   Warning
29     1030  Central Hub         nan      NaN       NaN
30     1031    East Wing         nan     49.0   Warning
31     1032   North Wing         nan      nan   Warning
32     1033   North Wing         nan     41.2        OK
33     1034    East Wing        20.7      NaN   Warning
34     1035  Central Hub         nan     51.5       NaN
35     1036    West Wing        21.9      NaN       NaN
36     1037    West Wing         nan      nan        OK
37     1038   North Wing         NaN     56.0   Warning
38     1039   South Wing         NaN     42.8  Critical
39     1040    West Wing        22.5      nan        OK
40     1041   North Wing         nan     56.7   Warning
41     1042   South Wing         NaN      NaN        OK
42     1043   South Wing         NaN      NaN  Critical
43     1044    West Wing         nan      nan       NaN
44     1045   South Wing        21.9      nan       NaN
45     1046   North Wing        27.5      NaN       NaN
46     1047  Central Hub         nan     41.6        OK
47     1048  Central Hub        20.7      nan   Warning
48     1049  Central Hub         nan      nan       NaN
49     1050  Central Hub         NaN      nan  Critical

## **Part D  Cleaning, Grouping, and Summarizing**

### 6. **Create a new column called `StatusFlag` where:**

* `'OK'`  `1`
* All other statuses  `0`

> Then compute the total `StatusFlag` count per `Location`.

In [1724]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1725]:
df = pd.DataFrame(data, columns=columns)

In [1726]:
df.head()

   SensorID     Location  Temperature  Humidity   Status
0      1001   North Wing          NaN      44.9       OK
1      1002  Central Hub          NaN      40.6  Warning
2      1003   South Wing         25.1       NaN      NaN
3      1004    West Wing          NaN      45.6  Warning
4      1005    West Wing         23.4       NaN       OK

In [1735]:
df['StatusFlag'] = df.Status.apply(lambda x: 1 if x == 'OK' else 0)

In [1736]:
flag_counts = df.groupby('Location')['StatusFlag'].sum()

In [1738]:
flag_counts

Location
Central Hub    1
East Wing      0
North Wing     3
South Wing     3
West Wing      3
Name: StatusFlag, dtype: int64

### 7. **Compute the median `Temperature` and `Humidity` per `Location`, excluding rows with missing values.**

> Use `.median()` on a grouped DataFrame.

In [1739]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1740]:
df = pd.DataFrame(data, columns=columns)

In [1747]:
df.groupby('Location', dropna=True)[['Temperature', 'Humidity']].median()

             Temperature  Humidity
Location
Central Hub        22.35     51.50
East Wing          25.20     51.30
North Wing         24.90     55.30
South Wing         25.10     50.85
West Wing          22.20     53.80

### 8. **Find the location with the highest average `Temperature`, excluding rows with missing or non-numeric data.**

> Tip: Use `groupby().mean()` after cleaning.

In [1748]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1761]:
df = pd.DataFrame(data, columns=columns)

In [1765]:
location_temp = df.groupby('Location', dropna=True)['Temperature'].mean()

In [1774]:
location_temp

Location
Central Hub    22.350
East Wing      25.200
North Wing     24.900
South Wing     24.560
West Wing      22.175
Name: Temperature, dtype: float64

In [1775]:
idx_max = location_temp.idxmax()

In [1771]:
idx_max

'East Wing'

### 9. **Create a summary table showing counts of each `Status` (`OK`, `Warning`, `Critical`) per `Location`.**

> Hint: Use `pd.crosstab()` or `groupby(['Location', 'Status']).size().unstack(fill_value=0)`

In [1776]:
data = pd.read_csv('sensor_data_pipe.txt', sep='|')

In [1777]:
df = pd.DataFrame(data, columns=columns)

In [1778]:
df.groupby(['Location', 'Status']).size().unstack(fill_value=0)

Status       Critical  OK  Warning
Location
Central Hub         1   1        3
East Wing           0   0        3
North Wing          3   3        4
South Wing          3   3        0
West Wing           1   3        3

In [1781]:
# alternative solution
pd.crosstab(index=df['Location'], columns=df['Status'], dropna=True, margins=True)

Status       Critical  OK  Warning  All
Location
Central Hub         1   1        3    5
East Wing           0   0        3    3
North Wing          3   3        4   10
South Wing          3   3        0    6
West Wing           1   3        3    7
All                 8  10       13   31

#### Aggregation Example:
If you want to sum Temperature per location and status:

In [1782]:
pd.crosstab(index=df['Location'], columns=df['Status'], values=df['Temperature'], aggfunc='mean')

Status       Critical     OK  Warning
Location
Central Hub       NaN    NaN     20.7
East Wing         NaN    NaN     20.7
North Wing       22.3    NaN      NaN
South Wing        NaN  25.35      NaN
West Wing         NaN  22.95     20.9

### 10. **Replace all `'Critical'` statuses with `'CR'`, `'Warning'` with `'WRN'`, and `'OK'` with `'OK'`, then group by `Status` and count rows.**

> Goal: Practice `.replace()` and summarization.

In [1783]:
df['Status'] = df["Status"].replace(
    {
        'Critical': 'CR',
        'Warning': 'WRN',
        'OK': 'OK',
    }
)

In [1784]:
status_counts = df['Status'].value_counts()

In [1785]:
status_counts

Status
WRN    13
OK     10
CR      8
Name: count, dtype: int64

In [1786]:
status_counts_df = df.groupby('Status').size().reset_index(name='Count')

In [1787]:
status_counts_df

  Status  Count
0     CR      8
1     OK     10
2    WRN     13